<div class="col-12">
    <div class="card">
        <h5>My Immobiliers</h5>
        <p-toast></p-toast>
        <p-table
            [value]="Immobiliers"
            dataKey="id"
            [expandedRowKeys]="expandedRows"
            responsiveLayout="scroll"
        >
            <ng-template pTemplate="caption">
                <button
                    pButton
                    icon="pi pi-fw {{ isExpanded ? 'pi-minus' : 'pi-plus' }}"
                    label="{{ isExpanded ? 'Collapse All' : 'Expand All' }}"
                    (click)="expandAll()"
                ></button>
                <div class="flex table-header"></div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th pSortableColumn="localisation">
                        Localisation
                        <p-sortIcon field="localisation"></p-sortIcon>
                    </th>

                    <th pSortableColumn="price">
                        Price <p-sortIcon field="price"></p-sortIcon>
                    </th>
                    <th pSortableColumn="category">
                        Category <p-sortIcon field="category"></p-sortIcon>
                    </th>
                    <th pSortableColumn="status">
                        Status <p-sortIcon field="status"></p-sortIcon>
                    </th>
                    <th pSortableColumn="state">
                        State <p-sortIcon field="state"></p-sortIcon>
                    </th>
                    <th pSortableColumn="forSell">
                        toggle state <p-sortIcon field="forSell"></p-sortIcon>
                    </th>

                    <th>Images</th>
                </tr>
            </ng-template>

            <ng-template let-immo pTemplate="body" let-expanded="expanded">
                <tr>
                    <td>
                        <button
                            type="button"
                            pButton
                            pRipple
                            [pRowToggler]="immo"
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="
                                expanded
                                    ? 'pi pi-chevron-down'
                                    : 'pi pi-chevron-right'
                            "
                        ></button>
                    </td>
                    <td style="min-width: 12rem">
                        {{ immo.localisation }}
                    </td>

                    <td style="min-width: 8rem">{{ immo.price }} DH</td>
                    <td style="min-width: 10rem">{{ immo.category }}</td>

                    <td
                        *ngIf="immo.status == 'APPROVED'"
                        style="min-width: 10rem"
                    >
                        <p-tag
                            styleClass="mr-2"
                            severity="success"
                            value="APPROVED"
                        ></p-tag>
                    </td>
                    <td
                        *ngIf="immo.status == 'REJECTED'"
                        style="min-width: 10rem"
                    >
                        <p-tag
                            styleClass="mr-2"
                            severity="danger"
                            value="REJECTED"
                        ></p-tag>
                    </td>
                    <td
                        *ngIf="immo.status == 'WAITING_CHANGE'"
                        style="min-width: 10rem"
                    >
                        <p-tag
                            styleClass="mr-2"
                            severity="warning"
                            value="WAITING_CHANGE"
                        ></p-tag>
                    </td>
                    <td
                        *ngIf="immo.status == 'WAITING'"
                        style="min-width: 10rem"
                    >
                        <p-tag
                            styleClass="mr-2"
                            severity="warning"
                            value="WAITING"
                        ></p-tag>
                    </td>
                    <td style="min-width: 10rem">
                        <p-tag
                            *ngIf="!immo.forSell"
                            styleClass="mr-2"
                            severity="warning"
                            value="NOT FOR SALE"
                        ></p-tag>
                        <p-tag
                            *ngIf="immo.forSell"
                            styleClass="mr-2"
                            severity="success"
                            value="FOR SALE"
                        ></p-tag>
                    </td>
                    <td *ngIf="!immo.forSell" style="min-width: 10rem">
                        <button
                            pButton
                            pRipple
                            type="button"
                            label="Sell it with Orders"
                            class="p-button-success"
                            (click)="forSell(immo.id)"
                        ></button>
                        <button
                            pButton
                            pRipple
                            type="button"
                            label="Sell with auto-payement"
                            class="p-button-warning"
                            (click)="displaySellWithAutoPayementModel(immo.id)"
                        ></button>
                    </td>
                    <td *ngIf="immo.forSell" style="min-width: 10rem">
                        <button
                            pButton
                            pRipple
                            type="button"
                            label="Change state"
                            class="p-button-warning"
                            (click)="forSell(immo.id)"
                        ></button>
                    </td>
                    <td style="min-width: 10rem">
                        <p-button
                            type="button"
                            label="Display images"
                            icon="pi pi-fw pi-image"
                            (click)="displayimages(immo.id)"
                        ></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template let-immo pTemplate="rowexpansion">
                <tr>
                    <td colspan="7">
                        <div class="p-3">
                            <p-table
                                [value]="immo.orders"
                                dataKey="id"
                                responsiveLayout="scroll"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Id</th>
                                        <th>Buyer Address</th>
                                        <th>Price given</th>
                                        <th style="width: 4rem"></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-order>
                                    <tr>
                                        <td>{{ order.id }}</td>
                                        <td>{{ order.buyerAddress }}</td>
                                        <td>{{ order.price }}</td>
                                        <td>
                                            <p-button
                                                type="button"
                                                label="Sell"
                                                icon="pi pi-shopping-cart"
                                                (click)="
                                                    Sell(
                                                        order.buyerAddress,
                                                        immo.id
                                                    )
                                                "
                                            ></p-button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<p-dialog
    [(visible)]="buy"
    [style]="{ width: '450px' }"
    header="Sell Immobilier"
    [modal]="true"
    class="p-fluid"
>
    <form role="form" [formGroup]="form" (submit)="changeOwnership()">
        <img
            src="assets/demo/images/product/black-watch.jpg"
            alt="Immo"
            width="150"
            class="mt-0 mx-auto mb-5 block shadow-2"
        />
        <div class="field">
            <label for="privateKey">Your Private key</label>
            <input
                id="privateKey"
                formControlName="privateKey"
                pInputText
                required
            />
        </div>
        <div>
            <div>
                <button
                    pButton
                    pRipple
                    label="Sell"
                    icon="pi pi-shopping-cart"
                    class="p-button-text"
                    type="submit"
                ></button>
            </div>
        </div>
    </form>
</p-dialog>
<p-dialog
    [(visible)]="displayImages"
    header="Immobilier Images"
    [modal]="true"
    class="p-fluid"
>
    <div *ngIf="hasPhotos" class="text-center my-3">
        <p-carousel
            [value]="immobilierPhotos"
            [numVisible]="3"
            [numScroll]="3"
            [circular]="false"
            [responsiveOptions]="carouselResponsiveOptions"
        >
            <ng-template pTemplate="item" let-item>
                <img
                    [src]="'../assets/Images/' + item.path"
                    style="width: 200px"
                    [preview]="true"
                />
            </ng-template>
        </p-carousel>
    </div>
    <div *ngIf="!hasPhotos" class="text-center my-3">
        <img
            src="../assets/Images/noImage.jpg"
            style="width: 200px"
            [preview]="true"
        />
        <div class="mt-5">
            <label for="images" class="form-label mb-4">Upload images</label>
            <div class="flex justify-content-center">
                <input
                    (change)="selectFiles($event)"
                    class="form-control mx-4"
                    type="file"
                    id="images"
                    multiple
                />
            </div>
            <div class="mt-5">
                <ul *ngIf="selectedFiles">
                    <li *ngFor="let file of selectedFiles">
                        {{ file.name }} - {{ file.size }} bytes
                    </li>
                </ul>
            </div>
            <button
                pButton
                pRipple
                (click)="saveImages()"
                label="Save"
                icon="pi pi-check"
                class="p-button-text w-5 mt-5"
            ></button>
        </div>
    </div>
</p-dialog>
<p-dialog
    [(visible)]="SellwithAutoPayement"
    [style]="{ width: '450px' }"
    header="Change immobilier State with auto payement"
    [modal]="true"
    class="p-fluid"
>
    <form role="form" [formGroup]="form2" (submit)="SellAutoPayement()">
        <img
            src="assets/demo/images/product/black-watch.jpg"
            alt="Immo"
            width="150"
            class="mt-0 mx-auto mb-5 block shadow-2"
        />
        <div class="field">
            <label for="privateKey">Your Private key</label>
            <input
                id="privateKey"
                formControlName="privateKey"
                pInputText
                required
            />
        </div>
        <div>
            <div>
                <button
                    pButton
                    pRipple
                    label="Sell"
                    icon="pi pi-shopping-cart"
                    class="p-button-text"
                    type="submit"
                ></button>
            </div>
        </div>
    </form>
</p-dialog>
