<div class="card surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="surface-section">
        <div class="font-medium text-3xl text-900 mb-3">Profile</div>
        <div class="text-500 mb-5"></div>
        <ul class="list-none p-0 m-0">
            <form role="form" [formGroup]="form" (submit)="updateProfile()">
                <div class="text-center my-4">
                    <!-- <img
                        shape="circle"
                        style="width: auto; height: 100px"
                        [src]="'../assets/ProfilePictures/' + profile.photo"
                    /> -->
                    <img
                        style="
                            width: 120px;
                            height: 120px;
                            position: relative;
                            border-radius: 50%;
                        "
                        [src]="'../assets/ProfilePictures/' + profile.photo"
                        shape="circle"
                    />
                    <div *ngIf="isEdit">
                        <input
                            value="Import"
                            type="file"
                            [(ngModel)]="profile.photo"
                            formControlName="photo"
                        />
                        <!-- <p-fileUpload
                            mode="basic"
                            accept="image/*"
                            [maxFileSize]="1000000"
                            label="Import"
                            chooseLabel="Import"
                            class="mr-2 inline-block"
                        ></p-fileUpload> -->
                    </div>
                </div>
                <div class="card w-7 m-auto">
                    <li
                        class="flex align-items-center py-3 px-2 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-2 font-medium">Name</div>
                        <div
                            *ngIf="!isEdit && profile.firstName"
                            class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                        >
                            {{ profile.firstName }}
                        </div>
                        <input
                            type="text"
                            class="w-full mb-3"
                            pInputText
                            *ngIf="isEdit"
                            [(ngModel)]="profile.firstName"
                            formControlName="firstName"
                        />
                    </li>
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-2 font-medium">
                            Last Name
                        </div>
                        <div
                            *ngIf="!isEdit && profile.lastName"
                            class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                        >
                            {{ profile.lastName }}
                        </div>
                        <input
                            type="text"
                            class="w-full mb-3"
                            pInputText
                            *ngIf="isEdit"
                            [(ngModel)]="profile.lastName"
                            formControlName="lastName"
                        />
                    </li>
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-2 font-medium">
                            Address
                        </div>
                        <div
                            *ngIf="!isEdit && profile.address"
                            class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                        >
                            {{ profile.address }}
                        </div>
                        <input
                            type="text"
                            class="w-full mb-3"
                            pInputText
                            *ngIf="isEdit"
                            [(ngModel)]="profile.address"
                            formControlName="address"
                        />
                    </li>
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-2 font-medium">Phone</div>
                        <div
                            *ngIf="!isEdit && profile.phone"
                            class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                        >
                            {{ profile.phone }}
                        </div>
                        <input
                            type="text"
                            class="w-full mb-3"
                            pInputText
                            *ngIf="isEdit"
                            [(ngModel)]="profile.phone"
                            formControlName="phone"
                        />
                    </li>
                    <div class="text-center mt-5">
                        <button
                            pButton
                            pRipple
                            icon="pi pi-check"
                            type="submit"
                            label="Save"
                            class="p-button-text"
                            *ngIf="isEdit"
                        ></button>
                    </div>
                </div>
            </form>
        </ul>
    </div>
    <div class="text-center mt-5">
        <button
            *ngIf="!isEdit"
            pButton
            pRipple
            label="Edit"
            (click)="isEdit = true"
            icon="pi pi-pencil"
            class="p-button-text"
        ></button>
    </div>
</div>
